#footer{
    background: #373651;
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footHead{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #FAFAFA;
}
.footHead::before{
    position: absolute;
    top: 50%;
    left: -240px;
    display: block;
    width: 50%;
    border-bottom: 3px solid #FAFAFA;
    content: "";
}
.footHead::after{
    position: absolute;
    top: 50%;
    right: -240px;
    display: block;
    width: 50%;
    border-bottom: 3px solid #FAFAFA;
    content: "";
}
.socialWrap{
    display: flex;
}
.socialIcon{
    margin: 20px;
}
#contactBtn{
    overflow: hidden;
    position: relative;
    border: 3px solid #FAFAFA;
    margin: 20px;
    padding: 12px 28px;
    border-radius: 10px;
    cursor: pointer;
}
#contactBtn::before{
    position: absolute;
    content: "";
    background: #7a40bd;
    padding: 40px 120px;
    top: -20px;
    left: -260px;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}
#contactBtn:hover::before{
    left: -20px;
}
.btnFont{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #FAFAFA;
    z-index: 1;
}
#contactFormWrap{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    background: #333333;
    z-index: 1;
    transition: all 1s ease-in-out;
}
#contactForm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    width: 60%;
}
.inputWrap{
    width: 60%;
    display: flex;
    flex-direction: column;
}
#contactForm input[type=text]{
    flex-grow: 1;
    padding: 12px 24px;
    margin: 12px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
#contactForm input[type=submit]{
   border: none;
    flex-grow: 0;
    align-self: flex-end;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border: 3px solid #FAFAFA;
    margin: 12px;
    padding: 12px 28px;
    border-radius: 10px;
    cursor: pointer;
    background: none;
    color: #FAFAFA;
}
#contactForm textarea{
    flex-grow: 1;
    height: 140px;
    margin: 12px;
    padding: 12px 24px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.contactHide{
    right: -100%;
}
.contactShow{
    right: 0;
}
#backBtn{
    padding: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}
.social{
    width: 40px;
    height: 40px;
}
@media only screen and (max-width: 600px) {
    .footHead{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        color: #FAFAFA;
    }
    .footHead::before{
        content: "";
    }
    .footHead::after{
        content: "";
    }
    #contactForm{
        width: 80%;
    }
    .inputWrap{
        width: 100%;
    }
}