@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    font-size: 1rem;
}
#mainWrap{
    width: 100%;
    background: #FAFAFA;
}
.pageFull{
    position: relative;
    width: 100%;
    padding: 10%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.largeP{
    font-family: 'Montserrat', sans-serif;
    font-size: 10rem;
    font-weight: 800;
    line-height: 140px;
}
.wrapper2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}
.colFull{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
}
#meWrap{
    min-width: 40%;
}
.mediumP{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.lightP{
    color: #FAFAFA;
}
.darkP{
    color: #373651;
}
.hide{
      display: none;
  }
.arrowDown{
    cursor: pointer;
    position: relative;
    align-self: center;
    justify-self: flex-end;
}
.arrowDown:hover{
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}
#sideMenu{
    width: 50%;
    height: 100vh;
    background: #FAFAFA;
    border-left: 60px solid #373651;
    position: fixed;
    z-index: 5;
    top: 0;
    transition: all 1s ease-in-out;
}
.hideMenu{
    right: calc(-50% + 60px);
}
.showMenu{
    right: 0;
}
#menuTab{
    width: 80px;
    height: 80px;
    background: #373651;
    position: relative;
    right: 80px;
    top: calc(50% - 40px);
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: rotate(270deg);
}
.smallPara{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: #FAFAFA;
}
#hamburWrap{
    position: relative;
    margin-top: 6px;
    width: 15px;
}
.hamLine{
    width: 2px;
    height: 20px;
    background: #FAFAFA;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out;
}
.hamLine:nth-of-type(1){
    left: 0;
    height: 12px;
}
.hamLine:nth-of-type(2){
    left: 6px;
    height: 20px;
}
.hamLine:nth-of-type(3){
    left: 12px;
    height: 14px;
}
#menuTab:hover .hamLine{
    height: 20px;
}
#fixedOverlay{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #FAFAFA;
    transition: all 1s ease-in-out;
}
.hideOverlay{
    opacity: 0;
    z-index: 0;
}
.showOverlay{
    opacity: 0.8;
    z-index: 3;
}


@media only screen and (max-width: 600px) {
    .largeP{
        font-size: 4rem;
        line-height: 80px;
    }
    .wrapper2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .mediumP{
        font-size: 1.2rem;
    }
    #meWrap{
        width: 60%;
        margin: 0 auto;
    }
    .pageFull{
        width: 100%;
        padding: 20px 5%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #sideMenu{
        display: none;
    }
}